@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

span {
	color: #D18538;
}
a {
	color: white;
}
.wrap_white {
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #fff;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.wrap_blue {
	width: 1200px;
	background-color: #EFF9FF;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.wrap_orange{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #D18538;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.wrap_gray{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #F0F0F0;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.wrap_gray{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #F0F0F0;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.wrap_navy{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #213A6F;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.wrap_black{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #000;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.full_width {
	margin-left: -83px;
}
.full_width_right {
	margin-right: -83px;
}

.center {
	margin: auto; 
	text-align: center;
}
#body_1 {
	width: 1200px;
	height: 768px;
	position: relative;

}
#body_1 img {
	position: absolute;
	top: 0;
}
.box_1_wrap {
	display: flex;
	flex-direction: row;

	position: absolute;
	top: 129px;
	left: 0;
}
.box_1 {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-right: 46px;
  	width        : 174px;
 	height       : 119px;
 	border-radius: 10px;	
	background-color: #67A7CB;
}
.box_1 p {
	display: block;
	font-size: 26px;
	font-weight: bold; 
	text-align: center;
	color: white;
}
.box_2 {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width        : 1200px;
 	height       : 99px;
 	border-radius: 40px 40px 0px 0px;	
	background-color: #67A7CB;

	position: absolute;
	top: 669px;
}
.box_2 p {
	display: block;
	font-size: 32px;
	font-weight: bold; 
	text-align: center;
	color: white;
}
#body_1_descriptions {
	position: relative;
	top: 272px;
}

#description_1 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing : -0.1em;
	margin-bottom: 104px;

}
#description_2 {
	font-size: 24px;
}
#description_3 {
	font-size: 60px;
	color: #EC6B04;
	font-weight: bold;
	letter-spacing : -0.1em;
	margin-top: 10px;
	/*line-height: 5px;*/
}
#description_3_a {
	font-size: 40px;
	color: #EC6B04;
	font-weight: bold;
	letter-spacing : 0.1em;
}
#description_4 {
	font-size: 14px;
	text-align: right;
}

#body_2 {
	background: #fff;
}

#body_2 h1 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 76px;
}
#body_2 h2 {
	font-size: 24px;
}
#body_2 p {
	font-size: 16px;
}
#body_2 span {
	color: #EC6B04;
}

.body_2_box_1_wrap{
	display:flex;
	justify-content:space-between;	
}

#body_2_header {
	margin-top: 48px;
	margin-bottom: 42px;
}

#body_3 {
	background: #EFF9FF;
}
#body_3_header {
	text-align: center;
}

#body_3_header h1 {
	font-size: 32px;
	color: #67A7CB;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 82px;
}
#body_3_header img {

}
#body_3_header h3{
	font-size: 20px;
	color: #67A7CB;
	margin-top: 5px;
	margin-bottom: 64px;
}
.body_3_flexbox {
	display: flex;
	justify-content: space-around;
}
.body_3_circle_box {
	margin: auto;
}
.body_3_circle {
	width: 239px;
	height: 239px;
	border-radius: 50%;
	background-color: #67A7CB;
	position: relative;
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
}
.body_3_circle img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
.body_3_text {
	text-align: center;
}
.body_3_text h1 {
	font-size: 32px;
}
.body_3_text span{
	color: #EC6B04;
}
.body_3_text p{
	font-size: 16px;
	margin-bottom: 90px;
}

.body_4 {
	text-align: center;
}
.body_4 p{
	font-size: 16px;
	color: white;
	vertical-align:middle;
	padding-left: 13px;
	padding-right: 13px;
}
.body_4 ul {
     overflow: hidden;
     letter-spacing: -.5em;
     text-align: center;
     padding-left: 0px;
}
.body_4 li {
     display: inline-block;
     vertical-align: middle;
     letter-spacing: 0;
}
.body_4_button button {
	width: 477px;
	height: 83px;
	border-radius: 10px;
	border-color: #fff;
	margin-bottom: 66px;
	background-color: #fff;
	position: relative;
}

.body_4_button button:hover {
  top: -4px;
  box-shadow: 0 7px 0 #f7ba59;
}
.body_4_button button:active {
  top: 3px;
  box-shadow: none;
}

.body_4_button p {
    font-size: 24px;
    font-weight: bold;
	color: #D18538;
    display: inline-block;  /* インラインブロック化 */
    vertical-align: middle; /* 中央を揃える */
}
#wrap_5{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #fff;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
.body_5_flex {
	display: flex;
	position: relative;
	z-index: 2;
}
.body_5_img {
	position: absolute;
	left:364px;
	z-index: 1;
}
.body_5_circle {
	margin-top: 60px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #67A7CB;
	position: relative;
	z-index: 2;
}
.body_5_circle img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
.body_5_text {
	width: 448px;
	height: 404px;
	margin-left: 16px;
	z-index: 2;
}
.body_5_text h1 {
	margin-top: 62px;
}
.body_5_flex_2 {
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 2;
}
.body_5_img_2 {
	position: absolute;
	left:0px;
	z-index: 1;	
}
.body_5_circle_2 {
	margin-top: 47px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #67A7CB;
	position: relative;
	z-index: 2;
}
.body_5_circle_2 img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
.body_5_text_2 {
	width: 448px;
	height: 404px;
	margin-left: 16px;
	z-index: 2;
}
.body_5_text_2 h1 {
	margin-top: 47px;
}
#wrap_6{
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #fff;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
#body_6_header {
	text-align: center;
}

#body_6_header h1 {
	font-size: 32px;
	color: #67A7CB;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 82px;
}
#body_6_header img {

}
#body_6_header h3{
	font-size: 20px;
	color: #67A7CB;
	margin-top: 5px;
	margin-bottom: 43px;
}
#body_6_header p{
	font-size: 16px;
	margin-bottom: 91px;
}
.body_6_flex {
	display: flex;
	justify-content: space-between; 
	flex-wrap: wrap;
}
.body_6_items {
	width: 580px;
	margin-bottom: 24px;
}
.body_6_items h1 {
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	font-weight: normal;
	background-color: #67A7CB;
	text-align: center;
	color: white;
}
.body_6_items p {
	font-size: 16px;
}
#body_6_footer {
	text-align: center;
}

#body_6_footer h1 {
	font-size: 32px;
	margin-top: 92px;
	margin-bottom: 106px;
}
#body_6_footer span {
	color: #EC6B04;
}
#wrap_7 {
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #67A7CB;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
#body_7 h1 {
	font-size: 32px;
	color: white;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 81px;
}
#body_7 h2 {
	padding-top: 46px;
	margin-bottom: 34px;
	font-size: 24px;
	font-weight: normal;
	color: white;
	text-align: center;
}
#wrap_8 {
	font-family: 'Noto Sans JP', sans-serif;
	width: 1200px;
	background-color: #fff;
	margin: auto;
	padding-left: 83px;
	padding-right: 83px;
}
#body_8 {
	text-align: center;
}
#body_8 p{
	margin-top: 0px;
}
#body_8 h1{
	margin-bottom:  77px;
}
.body_8_flex {
	list-style: none;
	display: flex;
	justify-content: space-between; 
	flex-wrap: wrap;
	padding-left: 0px;
}
.body_8_flex li p{
	font-size: 24px;
	margin-bottom: 62px;
	text-align: center;
}
.body_8_flex li:nth-child(3n+2):last-child {
    margin-left: auto;
    margin-right: 35%;
}
.flex_no_wrap {
	list-style: none;
	display: flex;
	justify-content: space-between; 
	padding-left: 0px;
}
#body_8_li {
	width: 550px;
	text-align: left;
}
#body_8_li h2{
	font-size: 24px; 
}
#body_8_li p{
	font-size: 16px; 
}
#body_8_2 h1 {
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 32px;
	color: white;
	text-align: center;
	background-color: #6A6A6A;
}
#body_9_header {
	text-align: center;
}
#body_9_table li {
	width: 540px;
	border: 1px solid #67A7CB;
}
#body_9_table li h1{
	width: 540px;
	height: 80px;
	color: white;
	background-color: #67A7CB;
	font-size: 16px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#body_9_table li p {
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
}
#body_9_footer {
	text-align: center;
	margin-bottom: 118px;
}
#body_10_header {
	padding-top: 72px;
	padding-bottom: 67px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#body_10 {
	padding-bottom: 121px;
}
#body_10 table {
	margin: auto;
	border-collapse: collapse;
	border-color: #707070;
}
#body_10 tr {
	
}
#body_10 th {
	width: 239px;
	text-align: left;
	background-color: #DFDFDF;
}
#body_10 td {
	width: 679px;
	text-align: left;
	background-color: #fff;
}
#body_11  {
	width: 492px;
	margin: auto;
}
#body_11  h1 {
	margin-top: 123px;
	margin-bottom: 54px;
}
#body_11  p{
	font-size: 16px;
	margin-top: 22px;
}
#body_11  textarea{
	width: 492px;
	height: 185px;
	border-radius: 5px;
	border-collapse: collapse;
	border: 1px solid #6A6A6A;
}
#body_11_input {
	width: 492px;
	height: 47px;
	border-radius: 5px;
	border-collapse: collapse;
	border: 1px solid #6A6A6A;
}
#body_11_submit_out {
	width: 194px;
	margin: auto;
}
#body_11_submit {
	font-size: 16px;
	font-weight: bold;
	color: white;
	width: 194px;
	height: 54px;
	background-color: #67A7CB;
	border: 0px ;
	margin-top: 50px;
	margin-bottom: 122px;
}
#lp_footer_01 img {
	padding-top: 40px;
	margin-left: -20px;
}
#lp_footer_01 h1 {
	font-size: 16px;
	font-weight: normal;
	color: white;
	text-align: left;
	padding-top: 32px;
	padding-bottom: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#lp_footer_01 p {
	font-size: 16px;
	color: white;
	padding-bottom: 43px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#lp_footer_02 {
	height: 46px;
	line-height: 46px;
}
#lp_footer_02 p {
	font-size: 14px;
	color: white;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
